
.parcelTable {
    .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        }
        .ant-btn {
        background-color: green;
        color: white;
        &:hover {
            color: white;
        }
        }
}